{% extends 'base.html' %} {% block content %}
<div class="p-3 mt-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="p-3 mb-4 rounded shadow card">
          <div class="card-body">
            <h2>Password Reset Complete</h2>
            <hr />
            <p>
              Your password has been successfully changed. You can now
              <a href="{% url 'accounts.login' %}">log in</a> with your new
              password.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
