{% extends 'base.html' %} {% block content %}
<div class="p-3 mt-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="p-3 mb-4 rounded shadow card">
          <div class="card-body">
            <h2>Password Reset Sent</h2>
            <hr />
            <p>
              If an account exists with the email you provided, you will receive
              a password reset link shortly. Please check your email.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
